body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #fff;
  }
  
  main {
    text-align: center;
    margin: 20px auto;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .formulario label {
    font-weight: bold;
  }
  
  input[type="time"] {
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    width: 280px;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    width: 310px;
    height: 47px;
  }