body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.perfil-icon {
  width: 32px;
  height: 32px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 4px;
}

.pacote-container {
  padding: 40px;
  text-align: center;
}

.pacote-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.pacote-container {
  padding: 40px;
  text-align: left;
}

.pacote-header img {
  width: 40px;
  height: 40px;
}

.pacote-imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.pacote-imagens img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.pacote-descricao {
  text-align: left;
  max-width: 900px;
  margin: 0 auto 30px;
  font-size: 18px;
}

.pacote-descricao b {
  display: block;
  margin-top: 5px;
}
 
.pacote-info {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.botao-pacote {
  background-color: #c4ffc8;
  width: fit-content;
  border: none;
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  width: 300px;
}

.botao-pacote a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.botao-pacote:hover {
  background-color: #ace6ac;
  transform: scale(1.03);
}

.botao-pacote:active {
  transform: scale(0.97);
}

.botao-pacote a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}