body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.perfil {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

  main.perfil h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  main.perfil form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 400px;
  }
  
  main.perfil form input {
    background-color: #eae5df;
    border: none;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }