* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fff;
  }

header {
    background-color: #eed0c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #111;
    letter-spacing: 1px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 100px;
    background-color: #fff;
    text-align: center;
    flex-wrap: wrap;
    min-height: 80vh;
}

.imagem img {
    width: 360px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.texto {
    flex: 1;
    max-width: 700px;
    text-align: center;
}

.texto h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #111;
    font-weight: 700;
    border-left: 4px solid #111;
    padding-left: 15px;
}

.texto p {
    font-size: 17px;
    margin-bottom: 22px;
    color: #444;
    text-align: justify;
}

.banner {
    background-image: url('/assets/img/banner_sobre_nos.png');
    background-size: cover;
    background-position: center;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner h2 {
    color: white;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 12px 12px 8px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    font-family: Arial Black, Impact, sans-serif;
  }
